body {
    margin-top: 50px;
}

.jumbotron img {
    width: 25%;
}

section {
    min-height: 420px;
}

footer {
    min-height: 50px;
    padding-top:12px;
} 
.footer {
    background-color:rgb(rgb(255, 255, 255));
    height: 270px;
}
.footer-logo h3{
    font-size:23px;
}
.footer-list li{
    list-style:none;
    color:black;
}
.footer-list img {
    float:left;
    width: 35px;
    height: 35px;
    margin-bottom: 5px;
}
.footer-list h4 {
    padding:10px 10px 10px 40px;
    font-size: 18px;
}